/* BODY SECTION */

body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
}

/* GLOBAL SECTION */
/* Use . when it's a class, use number sign (#) when it's an UD */
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

ul{
    margin:0;
    padding:0;
}

.button_1{
    height:38px;
    background:#e8491d;
    border:0;
    padding-left: 20px;
    padding-right:20px;
    color:#ffffff;
}

.dark{
    padding:1px;
    padding-left:15px;
    padding-right:15px;
    background:#35424a;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
}

.dark2{
    padding:1px;
    padding-left:15px;
    padding-right:15px;
    background:#35424a;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
}

/* HEADER SECTION */
/* Header | Use min-height when you want it to keep the size on various sizings */
header{
    background:#35424a;
    color:#ffffff;
    padding-top:20px;
    min-height:60px;
    border-bottom:#e8491d 3px solid;
}

header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
}

header li{
    display:inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}

header nav{
    float:right;
    margin-top:10px;
}

header .highlight, header .current a{
    color:#e8491d;
    font-weight:bold;
}

header a:hover{
    color:#cccccc;
    font-weight:bold;
}

/* SHOWCASE SECTION */
#showcase{
    min-height:300px;
    background:url('../img/showcase.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 35%;
    text-align:center;
    color:#ffffff;
}

#showcase h1{
    color:#ffffff;
    margin-top:80px;
    font-size:60px;
    font-style:bold;
    margin-bottom:-25px;
}

#showcase p{
    font-size:28px;
    font-style:bold;
    color:#ffffff;
}

/* NEWSLETTER SECTION */

#newsletter{
    padding:0px;
    color:#ffffff;
    background:#35424a
}

#newsletter h1{
    float:left;
}

#newsletter form {
    float:right;
    margin-top:15px;
}

#newsletter input[type="email"]{
    padding:3px;
    height:28px;
    width:250px;
}

/* BOXES */
/* When using % it scales properly */

#boxes{
    margin-top:20px;
}

#boxes .box{
    float:left;
    text-align: center;
    width:30%;
    padding:10px;
}

#boxes .box img{
    width:90px;
}

/* SIDEBAR SECTION */

aside#sidebar{
    float:right;
    width:30%;
    margin-top:10px;
}

/* MAIN-COL SECTION */

article#main-col{
    float:left;
    width:65%;
    margin-top:10px;
}

/* TUTORIALS */
ul#services{

}

/* FOOTER SECTION */

footer{
    height:40px;
    line-height:40px;
    margin-top:10px;
    color:#ffffff;
    background-color:#e8491d;
    vertical-align: middle;
    text-align: center;
}