/* BODY SECTION */

body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
}

textarea{
    height:120px;
}

/* GLOBAL SECTION */
/* Use . when it's a class, use number sign (#) when it's an UD */
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

ul{
    margin:0;
    padding:0;
}

.button_1{
    height:38px;
    background:#e8491d;
    border:0;
    padding-left: 20px;
    padding-right:20px;
    color:#ffffff;
}

.dark{
    padding:1px;
    padding-left:15px;
    padding-right:15px;
    background:#35424a;
    color:#ffffff;
}

/* HEADER SECTION */
/* Header | Use min-height when you want it to keep the size on various sizings */
header{
    background:#35424a;
    color:#ffffff;
    padding-top:20px;
    min-height:60px;
    border-bottom:#e8491d 3px solid;
}

header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
    font-weight: bold;
}

header li{
    display:inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}

header nav{
    float:right;
    margin-top:10px;
}

header .highlight, header .current a{
    color:#e8491d;
    font-weight:bold;
}

header a:hover{
    color:#727272;
    font-weight:bold;
}

/* FLEX BOX */
#flexcategory{
    margin-top:-26px;
    width:100%;
    background:#e8491d;
    color:white;
    text-align:center;
    font-size:22px;
    font-style:bold;
}
.containflex{
    display:flex;  
    flex-wrap:wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

.containflex img{
    width:90px;
    text-align: center;
    justify-content: center;
}

.containflex p{
    padding: 0; margin: 0;
}

.containflex h3{
    padding: 0; margin: 0;
}

.flexbox{
    flex-basis:22%;
}

/* SIDEBAR SECTION */

aside#sidebar{
    width:100%;
    text-align: center;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width:90%;
    padding:0px;
}

/* FOOTER SECTION */

footer{
    background:#e8491d;
    height:40px;
    line-height:40px;
    color:#ffffff;
    padding:0rem;
    width:100%;
    vertical-align: middle;
    text-align: center;
    min-width: none;
    clear:both;
    bottom: 0;
    left: 0;
    position: sticky;
    right: 0;
}

footer p{
    margin-top:0px;
}

/* TEST AREA */

/* MEDIA QUERIES */

@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    #boxest .boxt,
    .main-col,
    .about-col,
    article#main-tut,
    aside#sidebar,
    aside#aboutbar,
    ul#servicestut,
    .container{
        float:none;
        text-align:center;
        width:100%;
    }

    header{
        padding-bottom:20px;
    }

    #showcase h1{
        margin-top:40px;
    }

    #newsletter button, .quote button{
        display:block;
        width:100%;
    }

    #newsletter form input[type="email"], .quote input, .quote textarea{
        width:100%;
        margin-bottom:5px;
    }
}