/* BODY SECTION */

body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
}

textarea{
    height:120px;
}

/* GLOBAL SECTION */
/* Use . when it's a class, use number sign (#) when it's an UD */
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

.containgall{
    width: 99%;
    height:200px;
    margin: 0 auto;
    text-align:center;
    overflow:hidden;
    clear:both;
}

.containgall img{
    width:90px;
}

.containgall p{
    padding: 0; margin: 0;
}

.containgall h3{
    padding: 0; margin: 0;
}

.containertut{
    width:100%;
    margin-top:20px;
    overflow:hidden;
    float:center;
}

ul{
    margin:0;
    padding:0;
}

.button_1{
    height:38px;
    background:#e8491d;
    border:0;
    padding-left: 20px;
    padding-right:20px;
    color:#ffffff;
}

.dark{
    padding:1px;
    padding-left:15px;
    padding-right:15px;
    background:#35424a;
    color:#ffffff;
}

/* HEADER SECTION */
/* Header | Use min-height when you want it to keep the size on various sizings */
header{
    background:#35424a;
    color:#ffffff;
    padding-top:20px;
    min-height:60px;
    border-bottom:#e8491d 3px solid;
}

header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
    font-weight: bold;
}

header li{
    display:inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}

header nav{
    float:right;
    margin-top:10px;
}

header .highlight, header .current a{
    color:#e8491d;
    font-weight:bold;
}

header a:hover{
    color:#727272;
    font-weight:bold;
}

/* CATEGORY SECTION */
#firstcategory{
    width:100%;
    background:#35424a;
    color:white;
    text-align:center;
    font-size:22px;
    font-style:bold;
    padding:1px;
}

#secondcategory{
    margin-top:-26px;
    width:100%;
    background:#e8491d;
    color:white;
    text-align:center;
    font-size:22px;
    font-style:bold;
}

#category{
    width:100%;
    background:#e8491d;
    color:white;
    text-align:center;
    font-size:22px;
    font-style:bold;
}

/* SHOWCASE SECTION */
#showcase{
    min-height:300px;
    background:url('../img/showcase.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 35%;
    text-align:center;
    color:#ffffff;
}

#showcase h1{
    color:#ffffff;
    margin-top:80px;
    font-size:60px;
    font-style:bold;
    margin-bottom:-25px;
}

#showcase p{
    font-size:28px;
    font-style:bold;
    color:#ffffff;
}

/* NEWSLETTER SECTION */

#newsletter{
    padding:0px;
    color:#ffffff;
    background:#35424a
}

#newsletter h1{
    float:left;
}

#newsletter form {
    float:right;
    margin-top:15px;
}

#newsletter input[type="email"]{
    padding:3px;
    height:28px;
    width:250px;
}

/* BOXES */
/* When using % it scales properly */

#boxes{
    margin-top:20px;
    margin-left: 0%;
    margin-right: 0%;
}

#boxes .box{
    float:left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width:22%;
    padding:10px;
}

#boxes .box img{
    width:90px;
}

#boxes .box3_left img, .box3_middle img, .box3_right img{
    width:90px;
}

#boxes .box4_left img, .box4_middle img, .box4_right img{
    width:90px;
}

#boxesgall{
    width: 99%;
    height:200px;
    margin: 0 auto;
    text-align:center;
    overflow:hidden;
    clear:both;
}
.box4_left
{
    width: 24%;
    height:200px;
    float:left;
}
.box4_middle
{
    width: 24%;
    height:200px;
    margin:0 auto;
    display: inline-block;
}
.box4_right
{
    width: 24%;
    height:200px;
    float:right;
}
.box3_left
{
    width: 32%;
    height:200px;
    float:left;
}
.box3_middle
{
    width: 32%;
    height:200px;
    margin:0 auto;
    display: inline-block;
}
.box3_right
{
    width: 32%;
    height:200px;
    float:right;
}

/* TUTORIAL BOXES */
/* When using % it scales properly */

#boxest{
    margin-top:20px;
}

#boxest .boxt{
    float:left;
    text-align: center;
    width:30%;
    padding:10px;
}

#boxest .boxt img{
    width:90px;
}

#boxest .boxt li{
    float:right;
}

#boxest .boxt a{
    float:right;
}

/* SIDEBAR SECTION */

aside#sidebar{
    width:100%;
    text-align: center;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width:90%;
    padding:0px;
}

/* MAIN-TUT SECTION */

article#main-tut{
    float:center;
    width:100%;
    text-align: center;
    margin-top:10px;
}

/* TUTORIALS */

tuts{
    color:white;
    display: block;
    border:none;
    text-align:center;    
    padding:20px;
    clear:none;
}

ul#services ul{
    float:left;
    list-style-position: inside;
    text-align:center; 
}
ul#services li{
    float:left;
    text-align: center;
    text-decoration: none;
    list-style: none;
    padding:0px;
    margin-top:-20px;
    margin-bottom:8px;
    background:none;
    overflow:hidden;
}

ul#services li a{
    display: block;
    text-size-adjust:15px;
    border:none;
    text-align: center;
    padding:20px;
}

ul#servicestut ul{
    position:relative;
    display: inline-block;  
    list-style: none;
    text-align: center;
    margin: auto;
    padding: 0;
}
ul#servicestut li{
    float:middle;
    text-align: center;
    text-decoration: none;
    list-style: none;
    padding:0px;
    margin-top:-20px;
    margin-bottom:8px;
    background:none;
    overflow:hidden;
}

ul#servicestut li a{
    text-size-adjust:15px;
    float:center;
    border:none;
    text-align: center;
    padding:20px;
}

/* FOOTER SECTION */

footer{
    background:#e8491d;
    bottom:0;
    height:40px;
    line-height:40px;
    color:#ffffff;
    position:relative;
    padding:0rem;
    width:100%;
    vertical-align: middle;
    text-align: center;
    min-width: none;
    clear:both;
}

footer p{
    margin-top:0px;
}

/* TEST AREA */

/* MEDIA QUERIES */

@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    #boxest .boxt,
    .main-col,
    .about-col,
    #boxesgall .box3_left, #boxesgall .box3_right,
    #boxesgall .box4_left, #boxesgall .box4_right,
    #boxesgall .box3_middle, #boxesgall .box4_middle,
    article#main-tut,
    aside#sidebar,
    aside#aboutbar,
    ul#servicestut,
    .container{
        float:none;
        text-align:center;
        width:100%;
    }

    header{
        padding-bottom:20px;
    }

    #showcase h1{
        margin-top:40px;
    }

    #newsletter button, .quote button{
        display:block;
        width:100%;
    }

    #newsletter form input[type="email"], .quote input, .quote textarea{
        width:100%;
        margin-bottom:5px;
    }
}